target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.classpath
.project
.settings
RDFMiner/io/
*.cache
*.idea
.vscode
IO/
Corese/jar/*
Corese/log/*
Corese/src/corese/git_folder
*.jar
*.iml
*.so
.dba_pwd_set
docker-compose.yml
Corese/data/
rdfmining-server/node_modules/
